<%= error_messages_for 'memo' %>

<!--[form:memo]-->

<p><label for="memo_text"><%=h _('Text')%></label><br/>
<%= text_field 'memo', 'text'  %></p>

<p><label for="memo_location"><%=h _('Location')%></label><br/>
<%= text_field 'memo', 'location'  %></p>

<!--[eoform:memo]-->

