<tr>
  <% for column in Memo.content_columns %>
    <td><%= format_column_value item, column.name %></td>
  <% end %>
  <td><%= item.attachments.length %></td>
  <td><%= link_to _('Show'), :action => 'show', :id => item %></td>
  <td><%= link_to _('Edit'), :action => 'edit', :id => item %></td>
  <td><%= link_to _('Destroy'), {:action => ' destroy', :id => item }, :confirm => _('Are you sure?'), :method => :post %></td>
</tr>